{% load static %}
{% load blog_extras %}
{% block content %}
<div class="container" style="margin-top: 3%">
    <div class="categoria" id="projetos">
        <div class="titulo">
            <h1>Experiências</h1>
        </div>

        <div class="projetosLinks">
            <div class="card">
                <details>
                    <summary class="cardTitulo">
                        <p>Coordenação de Redes</p>
                        <img src="{% static 'images/arrow.svg' %}" alt="">
                    </summary>
                    <div class="cardConteudo">
                        <p style="margin-top: 20px;font-size: 19px;letter-spacing: 1.2px;">Durante o mês de maio de 2023, tive a incrível oportunidade de realizar meu primeiro estágio na renomada Instituição Federal, a Universidade Federal de Sergipe, na área de redes. Durante esse período, tive a responsabilidade de trabalhar diretamente com os servidores da instituição, desfrutando de uma experiência enriquecedora e desafiadora.</p>

                        <p style="margin-top: 20px;font-size: 19px;letter-spacing: 1.2px;">Uma das minhas principais atribuições foi monitorar a rede de todos os prédios da universidade. Essa tarefa exigiu uma compreensão profunda dos componentes de rede, bem como a capacidade de identificar e solucionar problemas de conectividade e desempenho. Ao realizar essas atividades, adquiri conhecimentos valiosos sobre protocolos de rede, roteadores, switches e firewalls, além de aprimorar minhas habilidades de resolução de problemas em um ambiente de rede complexo e em constante evolução.</p>

                        <p style="margin-top: 20px;font-size: 19px;letter-spacing: 1.2px;">Além disso, tive a oportunidade de desenvolver habilidades em programação e automação. Utilizando a tecnologia Docker, elaborei códigos automatizados que otimizaram os processos envolvidos na administração dos servidores da universidade. Essa experiência me permitiu aprofundar meus conhecimentos em linguagens de programação e ampliar minha compreensão sobre a aplicação prática da automação em um ambiente de rede.</p>

                        <p style="margin-top: 20px;font-size: 19px;letter-spacing: 1.2px;">Durante o estágio, também tive a chance de trabalhar em equipe, colaborando com profissionais experientes e aprendendo com suas experiências. Essa interação proporcionou um ambiente de aprendizado estimulante e enriquecedor, onde pude compartilhar conhecimentos e adquirir uma visão mais abrangente sobre as melhores práticas e tendências na área de redes.</p>

                        <p style="margin-top: 20px;font-size: 19px;letter-spacing: 1.2px;">Em suma, meu estágio na Universidade Federal de Sergipe foi uma experiência inestimável. Ao lidar diretamente com os servidores da instituição, monitorar a rede e desenvolver códigos automatizados via Docker, adquiri conhecimentos técnicos avançados, além de habilidades essenciais para minha carreira profissional.</p>

                        <p style="margin-top: 20px;font-size: 19px;letter-spacing: 1.2px;">Estou extremamente grato por ter tido a oportunidade de fazer parte de uma instituição tão prestigiada, onde pude aplicar meus conhecimentos teóricos na prática, desafiando-me diariamente e contribuindo para o bom funcionamento da rede da universidade.</p>

                        <p style="margin-top: 20px;font-size: 19px;letter-spacing: 1.2px;font-weight: 900;">Este estágio fortaleceu minha paixão pela área de redes e me motivou a continuar buscando o aprimoramento constante. Estou ansioso para utilizar os conhecimentos adquiridos durante essa experiência em futuros desafios profissionais, contribuindo para o desenvolvimento e a inovação na área de redes.</p>
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>
{% endblock content %}