@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


.toggle{
    background: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 20px 5px;
}

.toggle img{
    max-height: 40px;
}

header{
    background-color: var(--global-corQuatro);
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
}

header a{
    text-decoration: none;
    color: white;
}

.logo a{
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 24px;
}

.menuOp a{
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    letter-spacing: 1px;
    font-size: 16px;
    transition: .5s;
    border-radius: 20px;
}

.menuOp a:hover{
    color: black;
    letter-spacing: 3px;
    background-color: var(--global-corUm);

}

.menuSocial a{
    margin-left: 5px;
}

.menuSocial img{
    max-height: 32px;
    transition: .5s;
}

.menuSocial img:hover{
    transform: scale(1.3);
}



@media screen and (max-width: 1000px) {

    header{
        flex-direction: column;
        height: 90px;
        overflow: hidden;
        transition: .5s;
    }

    header.ativar{
        height: 100% !important;
    }
    
    .logo{
        margin-top: 5px;
    }
    .menuOp{
        margin-bottom: 10px;
        align-items: center;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }

}
